@charset "utf-8";

.panel__body::-webkit-scrollbar-track {
    background: rgb(244, 244, 244);  /* --spectrum-scrollbar-track-color */
}

.panel__body::-webkit-scrollbar-thumb {
    background: rgb(211, 211, 211);  /* --spectrum-scrollbar-bar-color */
}

.panel__body::-webkit-scrollbar-thumb:hover {
    background: rgb(149, 149, 149);  /* --spectrum-scrollbar-bar-color-hover */
}
