@charset "utf-8";

.panel__body::-webkit-scrollbar-track {
    background: rgb(234, 234, 234);  /* --spectrum-scrollbar-track-color */
}

.panel__body::-webkit-scrollbar-thumb {
    background: rgb(202, 202, 202);  /* --spectrum-scrollbar-bar-color */
}

.panel__body::-webkit-scrollbar-thumb:hover {
    background: rgb(142, 142, 142);  /* --spectrum-scrollbar-bar-color-hover */
}
