@charset "utf-8";

.spectrum--darkest {
    --spectrum-fieldlabel-m-asterisk-color: inherit;
}

.panel__body::-webkit-scrollbar-track {
    background: rgb(44, 44, 44);  /* --spectrum-scrollbar-track-color */
}

.panel__body::-webkit-scrollbar-thumb {
    background: rgb(73, 73, 73);  /* --spectrum-scrollbar-bar-color */
}

.panel__body::-webkit-scrollbar-thumb:hover {
    background: rgb(124, 124, 124);  /* --spectrum-scrollbar-bar-color-hover */
}
